[submodule "cache"]
	path = cache
	url = ../turbine-fulcrum-cache.git
	branch = master
[submodule "factory"]
	path = factory
	url = ../turbine-fulcrum-factory.git
	branch = master
[submodule "json"]
	path = json
	url = ../turbine-fulcrum-json.git
	branch = master
[submodule "localization"]
	path = localization
	url = ../turbine-fulcrum-localization.git
	branch = master
[submodule "parser"]
	path = parser
	url = ../turbine-fulcrum-parser.git
	branch = master
[submodule "pool"]
	path = pool
	url = ../turbine-fulcrum-pool.git
	branch = master
[submodule "quartz"]
	path = quartz
	url = ../turbine-fulcrum-quartz.git
	branch = master
[submodule "security"]
	path = security
	url = ../turbine-fulcrum-security.git
	branch = master
[submodule "site"]
	path = site
	url = ../turbine-fulcrum-site.git
	branch = master
[submodule "testcontainer"]
	path = testcontainer
	url = ../turbine-fulcrum-testcontainer.git
	branch = master
[submodule "yaafi"]
	path = yaafi
	url = ../turbine-fulcrum-yaafi.git
	branch = master
[submodule "yaafi-crypto"]
	path = yaafi-crypto
	url = ../turbine-fulcrum-yaafi-crypto.git
	branch = master
[submodule "crypto"]
	path = crypto
	url = ../turbine-fulcrum-crypto.git
	branch = master
[submodule "intake"]
	path = intake
	url = ../turbine-fulcrum-intake.git
	branch = master
[submodule "upload"]
	path = upload
	url = ../turbine-fulcrum-upload.git
   	branch = master
